doctype html
html
    header
        title="visitors"
        link(rel="stylesheet" href="/stylesheets/style.css")
    body
        div(class="contentWrapper")
            h2="Menu"
            p.
                Logged in as #[strong #{admin.username}]
        div(class="contentWrapper menuStyles")
            p
                a(href="/admin/dashboard")="Home"
            p
                a(href="/admin/userList")="List of Users"
            p
                a(href="/admin/visitors")="Visitors"
            p
                a(href="/admin/emails")="Emails"
            p
                a(href="/admin/logout")="Logout"
        div(class="contentWrapper")
            h1="Emails"
            each val in emails
                li(style="list-style: none; border-bottom: 1px solid grey;")
                  p=val.email
                  p="Reffered from: " + val.referrer
                  p=moment(val.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss a")


                

